h1{
color: rgb(255, 90, 227), 209, 157);


}

body{
    background-color: #fff5bb;

}

p{
text-align: left;
font-size: x-large;
color: rgb(0, 0, 0);

}



#roupa {
    width:  500px;
    height: 500px;
}


