h1{
color: rgb(204, 84, 184), 209, 157;


}

body{
    background-color: #fff5bb;

}

p{
text-align: left;
font-size: x-large;
color: rgb(0, 0, 0);

}



#roupa {
    width:  500px;
    height: 500px;
}


